# Node
node_modules/
npm-debug.log

# Env
.env

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Uploads
uploads/

# IDE
.vscode/
.idea/

# Windows junk
AppData/
Documents/
Downloads/

# Misc
*.zip
*.exe